* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Tw Cen MT", "Century Gothic", "Arial";
  scroll-behavior: smooth;
  font-size: 24px;
}
@media (min-width: 3000px) {
  * {
    font-size: 200px;
  }
}
@media (min-width: 2400px) {
  * {
    font-size: 100px;
  }
}
@media (min-width: 1800px) {
  * {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  * {
    font-size: 16px;
  }
}
@media (max-width: 300px) {
  * {
    font-size: 12px;
  }
}
h1 {
  font-size: 3.5rem;
}
:root {
  --btn-colour: #fff;
  --light-blue: #3f73a7;
  --dark-blue: #233e63;
  --nav-footer-height: 6.5vh;
  --soo-gradient: linear-gradient(var(--light-blue), var(--dark-blue));
  /* --soo-gradient: linear-gradient(rgb(63, 115, 167), rgb(35, 62, 99)); */
}
.darkmode {
  --firstbg: #2b2625;
  --secondbg: #23201f;
  --text-colour: #fff;
  --header-colour: #322e2dc2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --firstbg: #2b2625;
    --secondbg: #23201f;
    --text-colour: #fff;
    --header-colour: #322e2dc2;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --firstbg: #e2e2e2;
    --secondbg: rgb(245, 245, 245);
    --text-colour: #23201f;
    --header-colour: #eaeaea;
  }
}
.lightmode {
  --firstbg: #e2e2e2;
  --secondbg: rgb(245, 245, 245);
  --text-colour: #23201f;
  --header-colour: #eaeaea;
}
